<div class="container">
  <h1>Gerenciamento de Pessoas</h1>
  
  <div class="filters">
      <div class="filtro-container">
        <label for="filtroIdoso">Status:</label>
        <select id="filtroIdoso" [(ngModel)]="filtroIdoso" name="filtroIdoso">
          <option value="Todas">Todos</option>
          <option value="Idosas">Apenas Idosos</option>
          <option value="NaoIdosas">Apenas Não Idosos</option>
        </select>
      </div>
      
      <div class="filtro-acoes">
        <button (click)="filtrarPessoas()">Filtrar</button>
        <button (click)="limparFiltros()">Limpar Filtros</button>
      </div>
    </div>
  </div>

<div class="content ag-theme-alpine">
  <ag-grid-angular
    style="width: 100%; height: 100%;"
    [rowData]="rowData"
    [columnDefs]="colDefs"
    [defaultColDef]="defaultColDef"
    [pagination]="true"
    [paginationPageSize]="paginationPageSize"
    [paginationPageSizeSelector]="paginationPageSizeSelector"
    (gridReady)="onGridReady($event)"
    (cellClicked)="onCellClicked($event)"
  ></ag-grid-angular>
</div>

<div class="actions">
  <button class="btn-add" (click)="adicionarPessoa()">➕ Adicionar Pessoa</button>
  <button class="btn-refresh" (click)="carregarPessoas()">🔄 Atualizar Lista</button>
</div>
